/AddMemberServlet.class
/DeleteMemberServlet.class
/Member.class
/MemberManager.class
/MyPersistenceManager.class
/ReadTeamMemberServlet.class
/RetriveTeamMemberServlet.class
/UpdateMemberServlet.class
